<section class="banner">
  <div class="banner-content" style="background-image: url('assets/interestelar-cartaz.jpg');">
    <div class="banner-list-services">
      <div>
        <ul>
            <li>
            Favorite
            </li>
            <li>
                Avalie
            </li>
            <li>
            Veja Sinopses
            </li>
            <li>
            Procure filmes/series
            </li>
        </ul>
        <h1>Explorando a Magia do Cinema: Nossa Seleção Imperdível</h1>
        <p>Descubra um universo de entretenimento cinematográfico com nossa seleção especial de filmes. Desde clássicos atemporais até as mais recentes produções, mergulhe em histórias emocionantes, aventuras épicas e dramas envolventes. Prepare-se para uma jornada inesquecível pelo mundo do cinema</p>
      </div>
      <div class="banner-buttons">
        <a class="btn secondary">Ver Lista</a>
        <a class="btn">Ver Generos</a>
      </div>
      <div class="banner-search">
        <div class="banner-search-content">
          <p>Procure seus filmes/séries favoritos aqui</p>
          <div class="banner-search-input">
            <fa-icon [icon]="faCircle" ></fa-icon>
            <input type="text" name="" id="" placeholder="Busque por filmes ou séries...">
            <button class="btn">Buscar</button>
          </div>
        </div>
      </div>
      <div class="banner-image"></div>
    </div>
  </div>  
</section>
<section class="recommendation">
    <div class="block-content">
      <div class="recommendation-content">
        <div class="recommendation-titles">
          <div class="recommendation-titles-primary">
            <h2>Explorar as tendências cinematográficas é como navegar em um oceano de possibilidades, traz consigo uma nova história</h2>
          </div>
          <div class="recommendation-titles-secondary">
            <h3>A melhor recomendação de filme e nossos últimos filmes para você!</h3>
          </div>
        </div>
        <div class="recommendation-movies">
          <div class="recommendation-movies-header">
            <h3>Filmes Recomendados</h3>
            <div class="recommendation-movies-list">
              <button class="btn secondary recommendation-movies-button">
                <fa-icon [icon]="faCircle"></fa-icon>
                <span>Anterior</span>
              </button>
              <button class="btn recommendation-movies-button active">
                <span>1</span>
              </button>
              <button class="btn recommendation-movies-button active">
                <span>2</span>
              </button>
              <button class="btn secondary recommendation-movies-button">
                <span>Página</span>
                <fa-icon [icon]="faCircle"></fa-icon>
              </button>
            </div>
          </div>
          <div class="movies-cards">
            <div class="movies-card">
              <div class="card-header">
                <div class="card-header-classification">
                  4,7 Ratings
                </div>
                <div class="card-header-gender">
                  Drama
                </div>
              </div>
              <div class="card-image">
                <img src="https://media.themoviedb.org/t/p/w220_and_h330_face/zWEm5oy2tE9ku1KSNM089FmZJ2p.jpg">
              </div>
              <div class="card-footer">
                <h4>Kung Fu Panda 4</h4>
                <p>2004</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="people">
  <div class="block-content">
    <div class="movies-cards">
      <div class="movies-card">
        <div class="card-header">
          <div class="card-header-gender">
            USA
          </div>
        </div>
        <div class="card-image">
          <img src="https://media.themoviedb.org/t/p/w220_and_h330_face/zWEm5oy2tE9ku1KSNM089FmZJ2p.jpg">
        </div>
        <div class="card-footer">
          <h4>Mark Sinclair Vincent</h4>
          <p>18 de julho de 1967</p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- <section>
    <form (ngSubmit)="searchTerm()">
        <input type="text" name="term" id="" [(ngModel)]="term">
        <input type="button" value="Buscar" type="submit">
    </form>
</section>
 -->

<!-- <app-vitrine [title]="titleVitrine" [typeList]="typeListVitrine"></app-vitrine> -->