<section class="banner">
  <div class="banner-content">
    <div class="banner-list-services">
      <div>
        <ul>
            <li>
            Favorite
            </li>
            <li>
                Avalie
            </li>
            <li>
            Veja Sinopses
            </li>
            <li>
            Procure filmes/series
            </li>
        </ul>
        <h1>Explorando a Magia do Cinema: Nossa Seleção Imperdível</h1>
        <p>Descubra um universo de entretenimento cinematográfico com nossa seleção especial de filmes. Desde clássicos atemporais até as mais recentes produções, mergulhe em histórias emocionantes, aventuras épicas e dramas envolventes. Prepare-se para uma jornada inesquecível pelo mundo do cinema</p>
      </div>
      <div class="banner-buttons">
        <a class="btn secondary">Ver Lista</a>
        <a class="btn upper">Ver Generos</a>
      </div>
    </div>
  </div>  
    
</section>

<!-- <section>
    <form (ngSubmit)="searchTerm()">
        <input type="text" name="term" id="" [(ngModel)]="term">
        <input type="button" value="Buscar" type="submit">
    </form>
</section>
 -->

<!-- <app-vitrine [title]="titleVitrine" [typeList]="typeListVitrine"></app-vitrine> -->