<section class="banner">
  <div class="banner-content" style="background-image: url('assets/interestelar-cartaz.jpg');">
    <div class="banner-list-services">
      <div>
        <ul>
            <li>
            Favorite
            </li>
            <li>
                Avalie
            </li>
            <li>
            Veja Sinopses
            </li>
            <li>
            Procure filmes/series
            </li>
        </ul>
        <h1>Explorando a Magia do Cinema: Nossa Seleção Imperdível</h1>
        <p>Descubra um universo de entretenimento cinematográfico com nossa seleção especial de filmes. Desde clássicos atemporais até as mais recentes produções, mergulhe em histórias emocionantes, aventuras épicas e dramas envolventes. Prepare-se para uma jornada inesquecível pelo mundo do cinema</p>
      </div>
      <div class="banner-buttons">
        <a class="btn secondary">Ver Lista</a>
        <a class="btn">Ver Generos</a>
      </div>
      <div class="banner-search">
        <div class="banner-search-content">
          <p>Procure seus filmes/séries favoritos aqui</p>
          <div class="banner-search-input">
            <fa-icon [icon]="faCircle" ></fa-icon>
            <input type="text" name="" id="" placeholder="Busque por filmes ou séries...">
            <button class="btn">Buscar</button>
          </div>
        </div>
      </div>
      <div class="banner-image"></div>
    </div>
  </div>  
</section>
<section class="recommendation">
    <div class="block-content">
      <div class="recommendation-content">
        <div class="recommendation-titles">
          <div class="recommendation-titles-primary">
            <h2>Explorar as tendências cinematográficas é como navegar em um oceano de possibilidades, traz consigo uma nova história</h2>
          </div>
          <div class="recommendation-titles-secondary">
            <h3>A melhor recomendação de filme e nossos últimos filmes para você!</h3>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- <section>
    <form (ngSubmit)="searchTerm()">
        <input type="text" name="term" id="" [(ngModel)]="term">
        <input type="button" value="Buscar" type="submit">
    </form>
</section>
 -->

<!-- <app-vitrine [title]="titleVitrine" [typeList]="typeListVitrine"></app-vitrine> -->